@page
@model EFCore_UseCase.Pages.ProductCategory.CreateModel
@{
}

<form method="post">
    <div class="row" >
        <div class="col-md-6 form-group">
            <label for="name">Enter your category name :</label>
            <input name="name" id="name" type="text" class="form-control" />
        </div>
        <div class="col-md-12">
            <button class="btn btn-success" type="submit">Create</button>
        </div>
    </div>
</form>