@page
@model EFCore_UseCase.Pages.Product.CreateModel
@{
}

<form method="post">
    <div class="row" >
        <div class="col-md-6 form-group">
            <label for="name">Enter your product name :</label>
            <input name="name" id="name" type="text" class="form-control" />
        </div>

                <div class="col-md-6 form-group">
            <label for="UnitPrice">Enter your product price :</label>
            <input name="UnitPrice" id="UnitPrice" type="number" class="form-control" />
        </div>

                <div class="col-md-6 form-group">
            <label for="CategoryId">Enter your category Group :</label>
            <select asp-items="@Model.ProductCategories" name="CategoryId" id="CategoryId">
                <option value="0">Please select a category</option>
            </select>
        </div>

        <div class="col-md-12">
            <button class="btn btn-success" type="submit">Create</button>
        </div>
    </div>
</form>